<style>
input {
  padding: 6px;

    border: 1px #0a0a0a63 solid;
    box-shadow: 0px 2px 1px 0px #777777;
    display: block;
    margin: 10px;
    width: 114%;
}

</style>


<div style=' padding: 120px 222px;
border: 1px solid #908c8c;
box-shadow: 5px 3px 1px 1px #888888;
margin: 70px;'>
<h3 style='    text-align: center;
font-family: initial;'> Change Password </h3>
<input placeholder='enter old password' [(ngModel)]="oldPassword"  >
<input placeholder='enter new password' [(ngModel)]="newPassword">
<input placeholder='confirm password'   [(ngModel)]="confirmPassword">
<input value='Change Password' type='submit' (click)='changePassword()'>
<input value='cancel' type='submit' (click)='back()'>
{{oldPassword}}
{{newPassword}}
{{confirmPassword}}
</div>
