<footer>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-2 footer_section">
        <img src="../../assets/imgs/footer-logo.png" class="img-fluid"/>
      </div>
      <div class="col-md-2 footer_section">
        <h3>Fantasy Sports</h3>
        <ul>
          <li><a>FAQ</a></li>
          <li><a>How To Play</a></li>
        </ul>
      </div>
      <div class="col-md-2 footer_section">
        <h3>Help Disk</h3>
        <ul>
          <li><a>Support Online</a></li>
          <li><a href="mailto:support@premier11.com">support@premier11.com</a></li>
        </ul>
      </div>
      <div class="col-md-3 footer_section">
        <h3>Other Information</h3>
        <ul>
          <li><a>Fair Play</a></li>
          <li><a>Ligality</a></li>
        </ul>
      </div>
      <div class="col-md-2 footer_section">
        <a><img src="../../assets/imgs/google-play-btn.png" /></a>
        <a><img src="../../assets/imgs/app-store-btn.png" /></a>
      </div>
    </div>
  </div>
  <div class="container lower_footer">
    <div class="row align-items-center">
      <div class="col-md-6">
          <p>&copy;2018 Premier11.com  |   All Right Reserved</p>
      </div>
      <div class="col-md-6 text-right">
        <ul>
          <li><a>Terms & Conditions</a></li>
          <li><a>Disclamer</a></li>
          <li><a>Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
