<div class="form_bg">
  <div class="container">

    <div class="row align-items-center justify-content-center">
      <div class="col-md-12 col-sm-12">
          <mat-tab-group mat-align-tabs="center" class="tab_section">
              <mat-tab label="Log In">
                  <app-sign-in></app-sign-in>
              </mat-tab>
              <mat-tab label="Register">
                 <app-sign-up></app-sign-up>
              </mat-tab>
            </mat-tab-group>
           
            <!-- <div class="register_info">
              <p>Do Not Have a Account
              <a  routerLink="/register">Register</a></p>
            </div> -->
      </div>
    </div>
  </div>

</div>






