<div class="container">
  <div class="row">
    <section class="col-md-12 slider">
      <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item>
          <div class="view w-100">
            <img
              class="d-block w-100"
              src="../../assets/imgs/banner-01.png"
              alt="First slide"
            />
            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
          </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <div class="view w-100">
            <img
              class="d-block w-100"
              src="../../assets/imgs/banner-01.png"
              alt="Second slide"
            />
            <div
              class="mask rgba-black-strong waves-light"
              mdbWavesEffect
            ></div>
          </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <div class="view w-100">
            <img
              class="d-block w-100"
              src="../../assets/imgs/banner-01.png"
              alt="Third slide"
            />
            <div
              class="mask rgba-black-slight waves-light"
              mdbWavesEffect
            ></div>
          </div>
        </mdb-carousel-item>
      </mdb-carousel>
    </section>
  </div>
</div>