<div class="splash_screen">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-right">
                <button mdbBtn mdbWavesEffect (click)="login()" [hidden]="loginButton"><img src="../../assets/imgs/login-icon.svg">Login</button>
                <!-- <button mdbBtn mdbWavesEffect routerLink="/register"><img src="../../assets/imgs/register-icon.svg">Register</button> -->
                
                <button mdbBtn mdbWavesEffect (click)="register()" [hidden]="registerButton"><img src="../../assets/imgs/register-icon.svg">Register</button>
            </div>
            <div class="col-md-12 lats_play text-center">
                <button mdbBtn mdbWavesEffect routerLink="/matchcenter/Cricket/1">Let's Play</button>
            </div>
        </div>
    </div>
</div>





