<header class="header_holder">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-3">
        <a href=""><img src="../../assets/imgs/logo.png" class="img-fluid"/></a>
      </div>
      <div class="col-md-6 text-center">

        <div class="tournament">
          <div class="tournament_image">
            <img src="{{team1PhotoUrl}}"/>
          </div>
          <div class="tournament_description">
            <p>{{ team1Name }}</p>
            <p>
              <img src="../../assets/imgs/counter-icon.svg"/>
              <span>{{ getconverteddate(matchStartTime) }}</span>
            </p>
            <p>{{ team2Name }}</p>
          </div>
          <div class="tournament_image">
              <img src="{{team2PhotoUrl}}"/>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        <a class="profile">
          <div class="profile_image">
            <img src="../../assets/imgs/user04.png" class="img-fluid"/>
          </div>
          <p>Tanusri</p>
          <img class="arrow" src="../../assets/imgs/arrow.svg"/>
        </a>
        <a class="notification">
          <mat-icon matBadge="15" matBadgeColor="warn"><img src="../../assets/imgs/notification-icon.svg"/></mat-icon>
        </a>
      </div>
    </div>
  </div>
</header>
<app-banner></app-banner>
<div>
    <div class="container">
        <div class="row align-items-center justify-content-between contest_heading">
            <div class="col-lg-6">
                <h3>All Contest See:</h3>
            </div>
            <div class="col-lg-6 text-right">
                
                <button mdbBtn mdbWavesEffect routerLink="/AllContext/{{matchUid}}">
                    All Contest
                </button> 
            </div>
        </div>
        <!-- <div class="row align-items-center justify-content-end search_contest">
            <div class="col-md-11 text-md-right">
                <mat-form-field>
                    <input matInput placeholder="Search For Contest Name, Prize, Team Left, Teams">
                </mat-form-field>
            </div>
            <div class="col-md-1">
                <button class="search" mdbBtn>
                    <img src="../../assets/imgs/serach-icon.svg"/>
                </button>

            </div>
        </div> -->
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="contest_segment"  *ngFor="let cont of contestsinfo; let i = index">
                    <mat-tab-group>

                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon><img src="{{ cont.contestType.photoUrl}}"/></mat-icon>{{ cont.contestType.ctypeName }}
                            </ng-template>
                            <div class="contest_section" *ngFor="let con of cont.contests; let j = index">
                                <div class="col-md-1">
                                    <div class="price">
                                        <p><span><i class="fa fa-rupee"></i></span>{{ con.entryFee }}</p>
                                    </div>
                                </div>
                                <div class="col-md-4 text-center">
                                    <div class="team_left">
                                        <ul>
                                            <li>
                                                <p>Teams</p>
                                                <span>{{ con.totalTeams }}</span>
                                            </li>
                                            <li>
                                                <p>Teams Left</p>
                                                <span>{{ con.totalTeams - con.totalJoin }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-5 text-center">
                                    <div class="Winner_left">
                                        <ul>
                                            <li>
                                                <p>Winer Person</p>
                                                <span>{{con.totalWinners}}</span>
                                            </li>
                                            <li>
                                                <p>Total Price</p>
                                                <span>{{con.totalWinningAmount}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-2 text-center join">
                                    <mat-icon><img src="../../assets/imgs/join-icon.svg"/></mat-icon>
                                    <a>Join</a>
                                </div>
                            </div>

                        </mat-tab>
                        <!-- <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon><img src="../../assets/imgs/star-contest.png"/></mat-icon> Mega Contest
                            </ng-template>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon><img src="../../assets/imgs/star-contest.png"/></mat-icon> Fixed Contest
                            </ng-template>
                        </mat-tab> -->
                    </mat-tab-group>
                </div>
            </div>
            <div class="col-md-6">
                <button class="btn btn-danger" routerLink="/ViewTeam/{{sportsType}}/{{matchUid}}">Create Team (3)</button>
            </div>
            <div class="col-md-6">
                    <button class="btn btn-primary" routerLink="/JoinedContext/{{matchUid}}">Joined Context</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
