<form class="example-form" novalidate (ngSubmit)='user_signup(user)'  [formGroup]='user'>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-1">
              <label><img src="assets/imgs/email-icon.svg"/></label>
            </div>
            <div class="col-md-11">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" value="" name='RegEmail' formControlName='RegEmail' [(ngModel)]="Email"/>
                <!-- <div *ngIf="RegEmail.invalid" >Email Required</div> -->
                <!-- <pre>{{this.user.controls.RegEmail.invalid |json}}</pre> -->
                <mat-error *ngIf="RegEmail.invalid">{{getEmailErrorMessage()}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-md-1">
              <label><img src="assets/imgs/mobile-icon.svg"/></label>
            </div>
            <div class="col-md-11">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Phone Number:" value="" name='RegPhone' formControlName='RegPhone' [(ngModel)]="Phone" OnlyNumber="true" maxlength="10" minlength="10" />
                <mat-error *ngIf="RegPhone.invalid">{{getPhoneErrorMessage()}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-md-1">
              <label><img src="assets/imgs/otp-icon.svg"/></label>
            </div>
            <div class="col-md-9">
              <mat-form-field class="example-full-width">
                <input matInput (input)="onInputTimePhone($event.target.value)" name="otpVerify" placeholder="Verify phone otp:" [(ngModel)]="otpVerify" value="" formControlName="otpVerify" />
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <a class="get_otp" mdbBtn mdbWavesEffect (click)="phoneGetOtp(this.Phone)">Get otp</a>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-md-1">
              <label><img src="assets/imgs/password-icon.svg"/></label>
            </div>
            <div class="col-md-9">
              <mat-form-field class="example-full-width">
                <input matInput type='{{type}}' placeholder="Password:" value="" name='RegPassword' formControlName='RegPassword' [(ngModel)]="Password" />
                <mat-error *ngIf="RegPassword.invalid">{{getPasswordErrorMessage()}}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-2">
                    <a mdbWavesEffect *ngIf="!showPass" (click)="showPassword()" class="showPassword">
                        <img src="assets/imgs/show.svg" >
                    </a>
                    <a mdbWavesEffect *ngIf="showPass" (click)="showPassword()" class="showPassword">
                        <img src="assets/imgs/hide.svg" >
                    </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
              <label><img src="assets/imgs/refer-icon.svg"/></label>
            </div>
            <div class="col-md-11">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Enter Refer Code:" value="" name="ReferCode" [(ngModel)]="referCode" formControlName="ReferCode" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style='color:#fff'>
            <mat-checkbox  (change)="changeCheck($event)">Resticted for below 18 years Playes or Players belonging from Orissa , Assam , Telangana </mat-checkbox>
          </div>
        </div>
          <button mdbBtn mdbWavesEffect class="register_btn" [disabled]="disabledAgreement">Sign Up</button>
          <p class="or">OR</p>
          <p>Already Register</p> <button>Login</button>
        </form>
      
